html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	#app {
        height: 100%;
        .el-container {
            height: 100%;
            .el-menu {
                height: 100%;
            }
        }
	}
}

svg {
	width: 1em;
	height: 1em;
}
